<h1>Welcome back, Storyteller.</h1>

<br><br>

<form action="/writers/login" method="POST">

    Handle: <input type="text" name="writer[handle]">
    <br><br>

    Password: <input type="text" name="writer[password]">
    <br><br>

    <input type="submit" value="Turn the Next Page">

</form>