<h1>Greetings, Stranger.</h1>

<br><br>

<form action="/writers/new" method="POST">

    Your 'Handle' is your username. <br>
    Handle: <input type="text" name="writer[handle]">
    <br><br>

    Your 'Password' will keep your creations secure. <br>
    Password: <input type="text" name="writer[password]">
    <br><br>

    Your 'Icon' is a three-character symbol to mark your creations. <br>
    Icon: <input type="text" name="writer[icon]">
    <br><br>

    <input type="submit" value="Take up the Pen">

</form>