<h1>Greetings, Stranger.</h1>

<br><br>

<form action="/writers/new" method="POST">

    Your 'Handle' is your username. <br>
    Handle: <input type="text" name="writer[handle]" required>
    <br><br>

    Your 'Password' will keep your creations secure. <br>
    Password: <input type="password" name="writer[password]" required>
    <br><br>

    Your 'Icon' is a symbol to mark your creations. It must be exactly 3 characters long and can only contain numerals and capital letters.<br>
    Icon: <input type="text" name="writer[icon]" pattern="[A-Z0-9]{3}" required>
    <br><br>

    <input type="submit" value="Take up the Pen">

</form>