<h1><%=@writer.handle%></h1>
<br>
<label><%=@writer.icon%><label>
<br><br>
Characters:

<br><br>

Locations:

<br><br>

<% if session[:writer_id] and session[:writer_id] == @writer.id %>
    <form action="/writers/<%= @writer.id %>/edit" method="get">
        <input type="submit" value="Edit Information">
    </form>
<% end%>