<h1>A New Face</h1>

<br><br>

<form action="/characters/new" method="POST">

    Name: <input type="text" name="character[name]">
    <br><br>

    Blurb: <input type="text" name="character[blurb]">
    <br><br>

    Story: <input type="text" name="character[story]">
    <br><br>

    Image: <input type="text" name="character[image]">
    <br><br>

    <input type="submit" value="BIRTH">

</form>