<h1><%=@character.name%></h1>
<br>
<label><%=@character.blurb%><label>
<br><br>
Haunts:

<br><br>

~ <%= @character.writer.icon %>

<% if session[:writer_id] and session[:writer_id] == @character.writer.id %>
    <form action="/characters/<%= @character.id %>/edit" method="get">
        <input type="submit" value="Edit Character">
    </form>
<% end%>

