<a href="/writers">Writers</a>
<br>
<ul style="list-style-type:disc;">
    <% @writers.each do |writer| %>
        <li><%= writer.handle %></li>
    <% end %>
</ul>
<br>
<a href="/characters">Characters</a>
<br>
<ul style="list-style-type:disc;">
    <% @characters.each do |character| %>
        <li><%= character.name %></li>
    <% end %>
</ul>
<br>
<a href="/locations">Locations</a>
<br>
<ul style="list-style-type:disc;">
    <% @locations.each do |location| %>
        <li><%= location.name %></li>
    <% end %>
</ul>