<h1>Locations</h1>

<ul>
<% @locations.each do |location| %>
    <li><a href="/locations/<%= location.id %>"><%= location.name %></a> ~ <%=location.blurb%> </li>
<% end %>
</ul>

<% if session[:writer_id] %>

<br>
<a href="/location/new">Create New Location</a>
<br>

<% end %>