<h1>A New Place</h1>

<br><br>

<form action="/locations/new" method="POST">

    Name: <input type="text" name="location[name]">
    <br><br>

    Blurb: <input type="text" name="location[blurb]">
    <br><br>

    Story: <input type="text" name="location[story]">
    <br><br>

    Image: <input type="text" name="location[image]">
    <br><br>

    <input type="submit" value="BUILD">

</form>